.wrapper {
  position: relative;
  width: 530px;
  height: 475px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.triangle {
  position: absolute;
  z-index: -1;
  width: 286px;
  height: 254px;
}

.handsTop {
  display: flex;
  justify-content: space-between;
}

.handsBottom {
  display: flex;
  justify-content: center;
}
